<!DOCTYPE html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <title>spacey</title>
        <!-- Meta Tags and Information -->
        <meta name="description" content="Spacey, a website for people who have a knack to learn more about exoplanets">
        <meta name="author" content="Utkarsh Dubey">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <!-- CSS Files -->
        {% load static %}
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <link rel="stylesheet" href="{% static 'css/vendor.css' %}">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <!-- Javascript Files -->
        <script src="{% static 'js/modernizr.js' %}"></script>
        <script src="{% static 'js/pace.min.js' %}"></script>
        <!-- Favicon -->
        <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" type="image/x-icon">
        <link rel="icon" href="{% static 'images/favicon.png' %}" type="image/x-icon">
       
    </head>
    <body id="top">
        <!-- header
        ================================================== -->
        <header class="s-header">
            <div class="header-logo">
                <a class="site-logo" href="index.html">
                    <img src="{% static 'images/logo.png' %}" alt="Homepage">
                </a>
            </div>
            <nav class="header-nav">
                <a href="#0" class="header-nav__close" title="close"><span>Close</span></a>
                <div class="header-nav__content">
                    <h3>Navigation</h3>
                    
                    <ul class="header-nav__list">
                        <li class="current"><a class="smoothscroll"  href="#home" title="home">Home</a></li>
                        <li><a class="smoothscroll"  href="#about" title="about">About Exoplanet</a></li>
                        <li><a class="smoothscroll"  href="#find" title="services">Find Exoplanet</a></li>
                        <li><a class="smoothscroll"  href="#add-planet" title="works">Add Planet</a></li>
                    </ul>
                    </div> <!-- end header-nav__content -->
                    </nav>  <!-- end header-nav -->
                    <a class="header-menu-toggle" href="#0">
                        <span class="header-menu-text">Menu</span>
                        <span class="header-menu-icon"></span>
                    </a>
                </header>
                {% block app %}
                {% endblock %}
                <!-- footer
                ================================================== -->
                <footer>
                    <div class="row footer-main">
                        <div class="col-six tab-full left footer-desc">
                            <div class="footer-logo"></div>
                            Do you have a knack for learning more about exoplanets and discovering beyond the horizon. Spacey is the webapp for you then. Its built on a powerful Django back-end with its frontend being just HTML and CSS. Its made for <a href="https://hackbenchers-2.hackerearth.com" target="_blank">Hackbenchers 2</a> by <a href="http://hackerearth.com" target="_blank">Hackerearth India</a>.
                        </div>
                        <div class="col-six tab-full right footer-subscribe">
                            <h4>Get Notified on Exoplanets</h4>
                            <p>Subscribe to get latest news about ISRO, exoplanets and other things. (although i won't send anything :| ).</p>
                            <div class="subscribe-form">
                                <!-- Using Facebook's Open Source Mailchimp link -->
                                <form id="mc-form" class="group" novalidate="true">
                                    <input type="email" value="" name="EMAIL" class="email" id="mc-email" placeholder="Email Address" required="">
                                    <input type="submit" name="subscribe" value="Subscribe">
                                    <label for="mc-email" class="subscribe-message"></label>
                                </form>
                            </div>
                        </div>
                        </div> <!-- end footer-main -->
                        <div class="row footer-bottom">
                            <div class="col-twelve">
                                <div class="credits">
                                    <span><a href="https://madewithlove.org.in/" target="_blank">Made with <i class="fa fa-heart"></i> in India</a></span>
                                    <span>Created by <a href="https://utkarsh.co/" target="_blank">Utkarsh Dubey</a></span>
                                </div>
                                <div class="go-top">
                                    <a class="smoothscroll" title="Back to Top" href="#top"><i class="icon-arrow-up" aria-hidden="true"></i></a>
                                </div>
                            </div>
                            </div> <!-- end footer-bottom -->
                            </footer> <!-- end footer -->
                            <!-- preloader
                            ================================================== -->
                            <div id="preloader">
                                <div id="loader">
                                    <div class="line-scale-pulse-out">
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                        <div></div>
                                    </div>
                                </div>
                            </div>
                            <!-- Java Script
                            ================================================== -->

                            <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
                            <script src="{% static 'js/plugins.js' %}"></script>
                            <script src="{% static 'js/main.js' %}"></script>
                            {% block javascript %}
                            {% endblock %}
                            {% block inlinejs %}
                            {% endblock %}
                        </body>
                    </html>