<!DOCTYPE html>
<html lang="en">
<head>
	{% load static %}
	<meta charset="UTF-8">
	<link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/vendor.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
      <!-- favicons
    ================================================== -->
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'images/favicon.png' %}" type="image/x-icon">
	<!-- JS -->
	<script src="{% static 'js/modernizr.js' %}"></script>
    <script src="{% static 'js/pace.min.js' %}"></script>
</head>
<body>
	 <header class="s-header">

        <div class="header-logo">
            <a class="site-logo" href="{% url 'index' %}#find">
                <img src="{% static 'images/logo.png' %}" alt="Homepage">
            </a>
        </div>

    </header> <!-- end s-header -->



	{% block app %}

	{% endblock %}
	
	<script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.bundle.min.js"></script>
	
	{% block js %}
	{% endblock %}
</body>
</html>