{% extends 'base.html' %}
{% block app %}
{% block javascript %}
<!-- Jquery for Autocomplete -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css" />
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
{% endblock %}

{% load static %}

    <!-- home
    ================================================== -->
    <section id="home" class="s-home target-section" data-parallax="scroll" data-image-src="{% static 'images/background.jpg' %}" data-natural-width=3000 data-natural-height=2000 data-position-y=center>

        <div class="overlay"></div>
        <div class="shadow-overlay"></div>

        <div class="home-content">

            <div class="row home-content__main">

                <h3>Welcome to Spacey</h3>

                <h1>
                    Expand your Curiosity <br>
                    step out to the universe <br>
                    know about Exoplanets. <br>
                </h1>
                <div class="home-content__buttons">
                    <a href="#find" class="smoothscroll btn btn--stroke">
                        Search a planet
                    </a>
                    <a href="#contact" class="smoothscroll btn btn--stroke">
                        Add a new planet
                    </a>
                </div>

            </div>

            <div class="home-content__scroll">
                <a href="#about" class="scroll-link smoothscroll">
                    <span>Scroll Down</span>
                </a>
            </div>

            <div class="home-content__line"></div>

        </div> <!-- end home-content -->


        <ul class="home-social">
            <li>
                <a href="https://isro.gov.in" target="_blank"><i class="fa fa-space-shuttle" aria-hidden="true"></i><span>ISRO</span></a>
            </li>
            <li>
                <a href="https://nasa.gov" target="_blank"><i class="fa fa-globe" aria-hidden="true"></i><span>NASA</span></a>
            </li>
        </ul> 
        <!-- end home-social -->

    </section> <!-- end s-home -->


    <!-- about
    ================================================== -->
    <section id='about' class="s-about">

        <div class="row section-header has-bottom-sep" data-aos="fade-up">
            <div class="col-full">
                <h3 class="subhead subhead--dark">What is an</h3>
                <h1 class="display-1 display-1--light">Exoplanet</h1>
            </div>
        </div> <!-- end section-header -->

        <div class="row about-desc" data-aos="fade-up">
            <div class="col-full">
                <p>
                An exoplanet is a planet outside the Sun's solar system. You will encounter a lot of them throughout this website. An exoplanet opens new possibilities to life on other planets.
                <br>
                <a href="https://en.wikipedia.org/wiki/Exoplanet" target="_blank">
                    <button class="full-width btn"><i class="fa fa-wikipedia-w"></i> | More on Wikipedia</button>
                </a> 
                </p>
            </div>
        </div> <!-- end about-desc -->

        <div class="row about-stats stats block-1-4 block-m-1-2 block-mob-full" data-aos="fade-up">
                
            <div class="col-block stats__col ">
                <div class="stats__count">3874</div>
                <h5>Confirmed Exoplanets</h5>
            </div>
            <div class="col-block stats__col">
                <div class="stats__count">2892</div>
                <h5>Orbital Systems</h5>
            </div>
            <div class="col-block stats__col">
                <div class="stats__count">638</div>
                <h5>1+ Planet Orbital Systems</h5>
            </div>
            <div class="col-block stats__col">
                <div class="stats__count">5</div>
                <h5>Agenices Involved</h5> 
            </div>

        </div> <!-- end about-stats -->

        <div class="about__line"></div>

    </section> <!-- end s-about -->


    <!-- searchbar
    ================================================== -->
    <section id='find' class="s-services">

        <div class="row section-header has-bottom-sep" data-aos="fade-up">
            <div class="col-full">
                <h3 class="subhead">What next?</h3>
                <h1 class="display-2">Search an Exoplanet</h1>
            </div>
        </div>
        <center>
                <div class="ui-widget">
                    <input type="search" name="search" placeholder="eg. Kepler-9D" class="searchbar" id="search" data-aos="fade-up">
                </div>
                <input type="submit" class="btn btn--primary" value="search" data-aos="fade-right">
        </center> <!-- end searchbar -->
    </section> <!-- end s-searchbar -->
    <!-- add-planet
    ================================================== -->
    <section id="add-planet" class="s-contact">

        <div class="overlay"></div>
        <div class="contact__line"></div>

        <div class="row section-header" data-aos="fade-up">
            <div class="col-full">
                <h3 class="subhead">Request for Adding a new Planet</h3>
                <h1 class="display-2 display-2--light">Didn't see a planet you know about? Enter the details below.</h1>
            </div>
        </div>

        <div class="row contact-content" data-aos="fade-up">
            
            <div class="contact-primary">

                <h3 class="h6">Enter the details Below</h3>

                <form name="planetForm" id="contactForm" method="post" action="" novalidate="novalidate">
                    <fieldset>
    
                    <div class="form-field">
                        <input name="planetName" type="text" id="planetName" placeholder="Planet Name" value="" minlength="2" required="true" aria-required="true" class="full-width">
                    </div>
                    <div class="form-field">
                        <input name="contactEmail" type="email" id="contactEmail" placeholder="Your Email" value="" required="" aria-required="true" class="full-width">
                    </div>
                    <div class="form-field">
                        <input name="planetAgency" type="text" id="planetAgency" placeholder="Agency which confirmed it" value="" class="full-width" required="true">
                    </div>
                    <div class="form-field">
                        <input name="planetLink" type="url" id="planetLink" placeholder="Link to the source" value="" class="full-width" required="true">
                    </div>
                    <div class="form-field">
                        <textarea name="planetDetails" id="planetDetails" placeholder="Enter as much detail as possible." rows="10" cols="50" required="" aria-required="true" class="full-width"></textarea>
                    </div>
                    <div class="form-field">
                        <button class="full-width btn--primary">Add Request</button>
                        <div class="submit-loader">
                            <div class="text-loader">Adding Request...</div>
                            <div class="s-loader">
                                <div class="bounce1"></div>
                                <div class="bounce2"></div>
                                <div class="bounce3"></div>
                            </div>
                        </div>
                    </div>
    
                    </fieldset>
                </form>

                <!-- contact-warning -->
                <div class="message-warning">
                    Something went wrong. Please try again.
                </div> 
            
                <!-- contact-success -->
                <div class="message-success">
                    Your message was sent, thank you!<br>
                </div>

            </div> <!-- end contact-primary -->

            <div class="contact-secondary">
                <div class="contact-info">

                    <h3 class="h6 hide-on-fullwidth">Contact Info</h3>

                    <div class="cinfo">
                        <h5>Address of ISRO</h5>
                        <p>
                            Administrative Officer, ISRO Hqs <br>
                            Antariksh Bhavan, New BEL Road <br>
                            Bengaluru-560 231
                        </p>
                    </div>

                    <div class="cinfo">
                        <h5>Email Us At</h5>
                        <p>
                            icrb@isro.gov.in<br>
                            isropr@isro.gov.in
                        </p>
                    </div>

                    <div class="cinfo">
                        <h5>Call Us At</h5>
                        <p>
                            Phone: +91 80 22172465 <br>
                            Mobile: +91 23416393 <br>
                            Fax: +91 80 23412253
                        </p>
                    </div>
                </div> <!-- end contact-info -->
            </div> <!-- end contact-secondary -->

        </div> <!-- end contact-content -->

    </section> <!-- end s-contact -->

{% block inlinejs %}
<script>
    $(function() {
        $("#search").autocomplete({
            source: "/api/get_planets/",
            minlength: 3,
        });
    });
</script>
{% endblock %}

{% endblock %}